In [3]:
import numpy as np
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
sheat_test_df = pd.read_excel('shear test D3 D4 WATT.xlsx', sheet_name='Raw Data',
                             index_col=None, header=0, usecols='B:D')

In [7]:
sheat_test_df.tail()

          adeziv  test     N/mm2
120  RAKOLL GXL4  D3/3  2.400000
121  RAKOLL GXL4  D3/3  2.880000
122  RAKOLL GXL4  D4/5  0.760000
123  RAKOLL GXL4  D4/5  1.515458
124  RAKOLL GXL4  WATT  6.570000

In [8]:
sheat_test_w_dates_df = pd.read_excel('shear test D3 D4 WATT.xlsx', sheet_name='Raw Data',
                                      index_col=None, header=0, usecols='F:J')

In [9]:
sheat_test_w_dates_df

          data adeziv.1 test.1  N/mm2.1  wood failure[%]
0          NaT    140.1   D3/1    14.75              NaN
1          NaT    140.1   D3/3      2.3              NaN
2          NaT    140.1   D3/3     2.76              NaN
3          NaT    140.1   WATT      3.8              NaN
4          NaT    142.1   D3/1     12.7              NaN
..         ...      ...    ...      ...              ...
120 2020-08-17    150.1   D3/3  3.86792              0.0
121 2020-08-17    148.1   D3/1     13.4            100.0
122 2020-08-17    148.1   WATT   5.0882              0.0
123 2020-08-21    148.1   D3/3  1.68605              0.0
124 2020-08-21    148.1   D3/3  2.01149              0.0

[125 rows x 5 columns]

In [15]:
adezivi = sheat_test_df.adeziv
type(adezivi)

pandas.core.series.Series

In [12]:
test = sheat_test_df.test

In [13]:
arr_N_mm2 = sheat_test_df['N/mm2'].to_numpy()
arr_N_mm2

array([14.75      ,  2.3       ,  2.76      ,  3.8       , 12.7       ,
        1.57      ,  1.65      ,  3.2       , 14.5       ,  0.6       ,
        0.64      ,  0.        ,  0.127     ,  6.3       , 13.4       ,
        1.68604651,  2.01149425,  0.89466778,  0.91433796,  5.08819539,
       13.53488372,  2.04651163,  2.46511628,  5.39534884, 14.00943396,
        3.75      ,  3.86792453,  1.79245283,  1.9266055 ,  4.06542056,
        0.        ,  0.33      ,  1.20093892,  1.33704735,  0.77821012,
        1.11420613,  1.3136289 ,  1.78278208,  1.26671358,  1.40745954,
        5.48909219, 13.6       ,  3.23567993,  3.76038478,  3.36685614,
        7.34      ,  7.38959335, 12.5933577 ,  4.88638169,  5.2836485 ,
        2.94      ,  3.06      ,  7.42888924,  0.        ,  0.34883721,
        0.        ,  0.        ,  0.        ,  0.        ,  0.65      ,
        0.33685156,  0.44370494,  7.81333619, 14.6       ,  1.63398693,
        3.90875991,  2.31011945,  3.69540873,  5.5       ,  6.36      ,
        5.11454449,  5.78282287,  3.40401786,  3.69540873,  6.88      ,
       12.49639527,  0.        ,  0.24031529,  0.14381592,  0.33478406,
        5.04569688, 15.23026167,  2.58477175,  2.8476299 ,  1.21512151,
        1.12596763,  6.3944676 , 13.1       ,  3.4       ,  3.65      ,
        1.21212121,  1.5       ,  1.75      ,  6.1       , 12.18212273,
        2.84119736,  3.13131313,  1.16745343,  6.19257906, 11.48888474,
        3.08238371,  3.64281711,  1.30767794,  1.63459742,  5.79114515,
       16.2       ,  2.84      ,  2.98      ,  1.44230769,  6.73076923,
        8.65384615, 13.5       ,  0.19      ,  0.29      ,  0.34      ,
        5.1       ,  0.57      ,  0.68      ,  1.6       ,  2.44      ,
        2.4       ,  2.88      ,  0.76      ,  1.51545767,  6.57      ])

In [19]:
adezivi_test_multi_index = pd.MultiIndex.from_frame(sheat_test_df[['adeziv', 'test']])
adezivi_test_multi_index

MultiIndex([(        140.1, 'D3/1'),
            (        140.1, 'D3/3'),
            (        140.1, 'D3/3'),
            (        140.1, 'WATT'),
            (        142.1, 'D3/1'),
            (        142.1, 'D3/3'),
            (        142.1, 'D3/3'),
            (        142.1, 'WATT'),
            (        143.1, 'D3/1'),
            (        143.1, 'D3/3'),
            ...
            (      'DPN47', 'WATT'),
            (  'GXL4+CB03', 'D3/3'),
            (  'GXL4+CB03', 'D4/5'),
            (  'GXL4+CB03', 'D4/5'),
            (  'GXL4+CB03', 'D4/5'),
            ('RAKOLL GXL4', 'D3/3'),
            ('RAKOLL GXL4', 'D3/3'),
            ('RAKOLL GXL4', 'D4/5'),
            ('RAKOLL GXL4', 'D4/5'),
            ('RAKOLL GXL4', 'WATT')],
           names=['adeziv', 'test'], length=125)

In [27]:
shear_test_df_multi_index = pd.DataFrame(arr_N_mm2, adezivi_test_multi_index)
shear_test_df_multi_index

                          0
adeziv      test
140.1       D3/1  14.750000
            D3/3   2.300000
            D3/3   2.760000
            WATT   3.800000
142.1       D3/1  12.700000
...                     ...
RAKOLL GXL4 D3/3   2.400000
            D3/3   2.880000
            D4/5   0.760000
            D4/5   1.515458
            WATT   6.570000

[125 rows x 1 columns]

In [31]:
pd.options.display.max_rows = 150

In [ ]:
# Designate the D column is the data
# Make A & B a multilevel index
# Define column names come from column C
# You will have NaNs where data was missing
df_14.pivot_table(values='D', index=['A','B'], columns=['C'])

In [32]:
# shear test pivot table:
shear_test_pivot = sheat_test_df.pivot_table(values='N/mm2', index=['adeziv', 'test'])
shear_test_pivot

                      N/mm2
adeziv      test
140.1       D3/1  14.750000
            D3/3   2.530000
            WATT   3.800000
142.1       D3/1  12.700000
            D3/3   1.610000
            WATT   3.200000
143.1       D3/1  14.500000
            D3/3   0.620000
            D4/5   0.063500
            WATT   6.300000
148.1       D3/1  13.400000
            D3/3   1.848770
            D4/5   0.904503
            WATT   5.088195
149.1       D3/1  13.534884
            D4/5   2.255814
            WATT   5.395349
150.1       D3/1  14.009434
            D3/3   3.808962
            D4/5   1.859529
            WATT   4.065421
315.6       D4/5   0.000000
3153.6      D3/3   0.330000
146.1.2     D3/3   1.268993
            D4/5   0.946208
148.1.2     D3/3   1.548205
            D4/5   1.337087
            WATT   5.489092
148.1.3     D3/1  13.600000
            D3/3   3.498032
            D4/5   3.366856
            WATT   7.364797
148.1.4     D3/1  12.593358
            D3/3   5.085015
            D4/5   3.000000
            WATT   7.428889
3050+MDI    D3/3   0.174419
            D4/5   0.000000
CB03        D3/3   0.216667
            D4/5   0.390278
            WATT   7.813336
CB04        D3/1  14.600000
            D3/3   2.771373
            D4/5   3.002764
            WATT   5.930000
CB04.2      D3/3   5.448684
            D4/5   3.549713
            WATT   6.880000
CB06.1      D3/1  12.496395
            D3/3   0.120158
            D4/5   0.239300
            WATT   5.045697
CB06.2      D3/1  15.230262
            D3/3   2.716201
            D4/5   1.170545
            WATT   6.394468
CB07.1      D3/1  13.100000
            D3/3   3.525000
            D4/5   1.487374
            WATT   6.100000
CB08.1      D3/1  12.182123
            D3/3   2.986255
            D4/5   1.167453
            WATT   6.192579
CB09.1      D3/1  11.488885
            D3/3   3.362600
            D4/5   1.471138
            WATT   5.791145
DPN47       D3/1  13.500000
            D3/3   0.240000
            D4/5   0.340000
            WATT   5.100000
Danafix 446 D3/1  16.200000
            D3/3   2.910000
            D4/5   1.442308
            WATT   7.692308
GXL4+CB03   D3/3   0.570000
            D4/5   1.573333
RAKOLL GXL4 D3/3   2.640000
            D4/5   1.137729
            WATT   6.570000